body {
    font-family: Roboto;
}

h1 {
    color: rgb(15, 8, 48);
}

h2 {
    text-align: center;
}

h2+p {
    color:rgb(23, 87, 87);
}

p > b {
    color:rgb(255, 0, 0);
}

.blog-article {
    color: rgb(0, 0, 0);
}

.blog-title {
    font-size: 23px;
    font-variant: small-caps;
    font-stretch: semi-condensed;
}