

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: rgb(17, 17, 17);
}

#header {
    height: 120px;
}

h1 {
    color: rgb(255, 255, 255);
}

.nav-button {
    color: white;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-variant: small-caps;
    background-color: rgb(48, 48, 48);
    border-style: double;
    border-color: rgb(48, 48, 48);
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-size: 23px;
    font-stretch: semi-condensed;
}



h2 + p {
    color:rgb(151, 222, 255);
}

p > b {
    color:rgb(255, 255, 255);
}

.blog-article {
    color: rgb(255, 255, 255);
}

#info {
    color: white;
}
a {
    color: rgb(91, 168, 231) !important;
}
